@using BerberKuafor.Models
@model List<Personel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AnaSayfa/PersoneLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.IDPersonel</td>
            <td>@x.PersonelAdi</td>
            <td>@x.PersonelSoyad</td>
            <td><a href="/Personel/PersonelGetir/@x.IDPersonel" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Personel/PersonelSil/@x.IDPersonel" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Personel/YeniPersonel" class="btn btn-primary">Yeni Personel</a>

