@using BerberKuafor.Models
@model List<Musteri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AnaSayfa/PersoneLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Sıra</th>
        <th>Adı</th>       
        <th>Soyadı</th>
        <th>E-Posta</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.IdMusteri</td>
            <td>@x.MusteriAdi</td>
            <td>@x.MusteriSoyadi</td>
            <td>@x.MusteriMail</td>
            <td><a href="/Musteri/MusteriGetir/@x.IdMusteri" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Personel/PersonelSil/@x.IdMusteri" class="btn btn-danger">Sil</a></td>
        </tr>
    }

</table>
<a href="/Musteri/YeniMusteri" class="btn btn-primary">Yeni Müşteri</a>

