@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="hero-wrap js-fullheight" style="background-image: url(images/bg-2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
            <div class="col-lg-12 ftco-animate d-flex align-items-center">
                <div class="text text-center">
                    <span class="subheading">Saç Bakımına Hoş Geldiniz</span>
                    <h1 class="mb-4">Saçınızın Bakımında Uzmanız</h1>
                    <p><a href="#" class="btn btn-primary btn-outline-primary px-4 py-2">Randevu Al</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md text-center d-flex align-items-stretch">
                <div class="services-wrap d-flex align-items-center img" style="background-image: url(images/formen.jpg);">
                    <div class="text">
                        <h3>Erkekler İçin</h3>
                        <p><a href="#" class="btn-custom">Ücretlendirme <span class="ion-ios-arrow-round-forward"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-items-stretch">
                <div class="text-about py-5 px-4">
                    <h1 class="logo">
                        <a href="#"><span class="flaticon-scissors-in-a-hair-salon-badge"></span>Saç Bakımı</a>
                    </h1>
                    <h2>Salonumuza Hoş Geldiniz</h2>
                   <p class="mt-3"><a href="#" class="btn btn-primary btn-outline-primary">Daha Fazla Oku</a></p>
                </div>
            </div>
            <div class="col-md text-center d-flex align-items-stretch">
                <div class="services-wrap d-flex align-items-center img" style="background-image: url(images/forwomen.jpg);">
                    <div class="text">
                        <h3>Bayanlar İçin</h3>
                        <p><a href="#" class="btn-custom">Ücretlendirme <span class="ion-ios-arrow-round-forward"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Hizmetler</span>
                <h2 class="mb-4">Hizmet Menüsü</h2>
            </div>
        </div>
        <div class="row no-gutters d-flex">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-male-hair-of-head-and-face-shapes"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Saç Kesimi ve Şekillendirme</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-beard"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Sakal</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-beauty-products"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Makyaj</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-healthy-lifestyle-logo"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Vücut Bakımı</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Randevu</span>
                <h2 class="mb-4">Randevu Alın</h2>
            </div>
        </div>
        <h3 class="vr">Bizi Arayın: 012-3456-7890</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 ftco-animate">
                <form action="#" class="appointment-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="appointment_name" placeholder="İsim">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="appointment_email" placeholder="E-posta">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control appointment_date" placeholder="Tarih">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control appointment_time" placeholder="Saat">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">Profesyonel Makyaj</option>
                                        <option value="">Manikür Pedikür</option>
                                        <option value="">Vücut Bakımı</option>
                                        <option value="">Saç Kesimi ve Renklendirme</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Randevu Al" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
