@{
    ViewData["Title"] = "Servisler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/gal.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h2 class="mb-0 bread">Servisler</h2>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Anasayfa <i class="ion-ios-arrow-round-forward"></i></a></span> <span>Servisler <i class="ion-ios-arrow-round-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="services-section ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Servisler</span>
                <h2 class="mb-4">Servis Menüsü</h2>
            </div>
        </div>
        <div class="row no-gutters d-flex">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-male-hair-of-head-and-face-shapes"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Saç Kesimi &amp; Şekillendirme</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-beard"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Sakal</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-beauty-products"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Makyaj</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-healthy-lifestyle-logo"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Vücut Bakımı</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Randevu</span>
                <h2 class="mb-4">Randevu Alın</h2>
            </div>
        </div>
        <h3 class="vr">Bizi Arayın: 012-3456-7890</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 ftco-animate">
                <form action="#" class="appointment-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="appointment_name" placeholder="Ad">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="appointment_email" placeholder="E-posta">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control appointment_date" placeholder="Tarih">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control appointment_time" placeholder="Saat">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">Profesyonel Makyaj</option>
                                        <option value="">Manikür Pedikür</option>
                                        <option value="">Vücut Bakımı</option>
                                        <option value="">Saç Kesimi &amp; Boyama</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Randevu Al" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-pricing">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Fiyatlar</span>
                <h2 class="mb-4">Fiyat Listesi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <div class="pricing-entry pb-5 text-center">
                    <div>
                        <h3 class="mb-4">Saç Stili</h3>
                        <p><span class="price">50.00 TL</span> <span class="per">/ seans</span></p>
                    </div>
                    <ul>
                        <li>Saç Kurutma</li>
                        <li>Saç Boyama</li>
                        <li>Saç Kesimi</li>
                        <li>Kuaför</li>
                        <li>Saç Bakımı</li>
                    </ul>
                    <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Teklif Al</a></p>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="pricing-entry pb-5 text-center">
                    <div>
                        <h3 class="mb-4">Manikür Pedikür</h3>
                        <p><span class="price">34.50 TL</span> <span class="per">/ seans</span></p>
                    </div>
                    <ul>
                        <li>Manikür</li>
                        <li>Pedikür</li>
                        <li>Oje</li>
                        <li>Tırnak Bakımı</li>
                        <li>Tırnak Kesimi</li>
                    </ul>
                    <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Teklif Al</a></p>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="pricing-entry active pb-5 text-center">
                    <div>
                        <h3 class="mb-4">Makyaj</h3>
                        <p><span class="price">54.50 TL</span> <span class="per">/ seans</span></p>
                    </div>
                    <ul>
                        <li>Makyaj</li>
                        <li>Profesyonel Makyaj</li>
                        <li>Allık</li>
                        <li>Yüz Masajı</li>
                        <li>Yüz Spa</li>
                    </ul>
                    <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Teklif Al</a></p>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="pricing-entry pb-5 text-center">
                    <div>
                        <h3 class="mb-4">Vücut Bakımı</h3>
                        <p><span class="price">89.50 TL</span> <span class="per">/ seans</span></p>
                    </div>
                    <ul>
                        <li>Masaj</li>
                        <li>Spa</li>
                        <li>Ayak Spa</li>
                        <li>Vücut Spa</li>
                        <li>Rahatlama</li>
                    </ul>
                    <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Teklif Al</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
